#*********************************
# the whole link sequence for BDDC
#*********************************
BDDCML_LINK_SEQUENCE = $(LIBBDDCML) $(BDDCML_LIBMUMPS) $(BDDCML_LIBPARMETIS) $(BDDCML_LIBMETIS) $(BDDCML_LIBSCALAPACK) $(BDDCML_LIBBLACS) \
                       $(BDDCML_LIBPORD) $(BDDCML_LIBLAPACK) $(BDDCML_LIBBLAS) $(BDDCML_BLOPEXLINK) $(BDDCML_LIBOTHERS)
BDDCML_INC           = -I$(BDDCML_ROOT)/src

#*********** Compilers
BDDCML_MPFC = mpif90
BDDCML_MPFFLAGS = -g -C -Wall -fbounds-check -fcheck=all -fallow-argument-mismatch
#BDDCML_MPFFLAGS = -O3

BDDCML_MPCC = mpicc
BDDCML_MPCFLAGS = -g -Wall -pedantic
#BDDCML_MPCFLAGS = -O3

#*********** Library tools
BDDCML_AR = ar vr
BDDCML_RANLIB = ranlib

#**********Preprocessor defs for calling Fortran from C (-DAdd_ or -DAdd__ or -DUPPER)
BDDCML_CDEFS   = -DAdd_

#*********** Includes
# ParMetis
BDDCML_INCPARMETIS = -I$(HOME)/software/PARMETIS/include
# Metis
BDDCML_INCMETIS = -I$(HOME)/software/METIS/include
# MUMPS
BDDCML_INCMUMPS    = -I$(HOME)/software/MUMPS/include

#*********** Libraries
# library being created
BDDCML_ROOT         = $(HOME)/programming/bddcml
BDDCML_LIB_DIR      = $(BDDCML_ROOT)/lib
LIBBDDCML           = $(BDDCML_LIB_DIR)/libbddcml.a
# MUMPS
BDDCML_LIBMUMPS     = -L$(HOME)/software/MUMPS/lib -ldmumps -lmumps_common -lpord
# ScaLAPACK
BDDCML_LIBSCALAPACK = -L/usr/lib -lscalapack-openmpi
# BLACS
BDDCML_LIBBLACS     = -L/usr/lib -lblacs-openmpi -lblacsCinit-openmpi -lblacsF77init-openmpi -lblacs-openmpi
# BLAS
BDDCML_LIBBLAS      = -L/usr/lib -lblas
# LAPACK
BDDCML_LIBLAPACK    = -L/usr/lib -llapack
# ParMetis
BDDCML_LIBPARMETIS  = -L$(HOME)/software/PARMETIS/lib -lparmetis
# Metis
BDDCML_LIBMETIS     = -L$(HOME)/software/METIS/lib -lmetis
# other needed libs ( e.g. -lmpi, -lpthread )
BDDCML_LIBOTHERS    =

# BLOPEX objects
BDDCML_BLOPEXDIR = $(HOME)/software/lobpcg/blopex
BDDCML_INCBLOPEX = \
   -I$(BDDCML_BLOPEXDIR)/blopex_serial_complex/multivector \
   -I$(BDDCML_BLOPEXDIR)/blopex_serial_complex/pcg_multi \
   -I$(BDDCML_BLOPEXDIR)/blopex_serial_complex/matmultivec \
   -I$(BDDCML_BLOPEXDIR)/blopex_abstract/include
BDDCML_OBJBLOPEX = \
   $(BDDCML_BLOPEXDIR)/blopex_serial_complex/multivector/multi_vector.o \
   $(BDDCML_BLOPEXDIR)/blopex_serial_complex/pcg_multi/pcg_multi.o \
   $(BDDCML_BLOPEXDIR)/blopex_serial_complex/matmultivec/matmultivec.o
BDDCML_LIBBLOPEX = -L$(BDDCML_BLOPEXDIR)/blopex_abstract/lib -lBLOPEX
BDDCML_BLOPEXLINK = $(BDDCML_OBJBLOPEX) $(BDDCML_LIBBLOPEX)

